.row {
  display: flex;
  height: 100%;
}

.column {
  &:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 30%;
  }
  &:last-child {
    flex: 70%;
  }
}
.login-header {
  width: 80%;
}
form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
p {
  margin: 0;
  margin-bottom: 20px;
  color: #d8d8d8;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
// ::ng-deep .mat-form-field-wrapper {
//     padding: 0;
// }

@media only screen and (max-width: 980px) {
  .column {
    &:first-child {
        flex: 50%;
    }
    &:last-child {
      flex: 50%;
    }
  }
}
