<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <mat-form-field appearance="outline">
        <mat-label>Icon</mat-label>
        <input matInput type="text" formControlName="icon" placeholder="Device Icon">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Device</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Device Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Room</mat-label>
        <input matInput type="text" formControlName="room" placeholder="Room">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Floor</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Floor">
    </mat-form-field>
    <mat-slide-toggle formControlName="status">Default status</mat-slide-toggle>
    <app-button type="submit" text="Add" class="button"></app-button>
  </form>